button {
  cursor: pointer;
  background-color: var(--primary);
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  font-size: 14px;
  color: var(--secondary);
  border-radius: 4px;
  text-transform: uppercase;
  border: none;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);

  &:hover {
    transition: 0.3;
    box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.12);
  }
}

:host-context(.secondary) button {
  color: var(--primary);
  background-color: var(--secondary);
}

:host-context(.active) button {
  color: #ced4da;
  background-color: #f2f2f2;
}


:host-context(.popup) button {
  // color: #ced4da;
  // background-color: black;
  box-shadow: 2px -1px 2px rgba(0, 0, 0, 0.12);
  margin-right: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px 10px 15px 10px;
}
