<form>
  <div class="first-row">
    <div class="input-container">
      <label for="">Nome</label>
      <input type="text" placeholder="Informe seu nome" />
    </div>
    <div class="input-container">
      <label for="">CPF</label>
      <input type="text" placeholder="informe seu cpf" />
    </div>
    <div class="input-container">
      <label for="">Telefone</label>
      <input type="text" placeholder="informe seu telefone" />
    </div>
    <div class="input-container">
      <label for="">Data de nascimento</label>
      <input type="date" placeholder="Data de nascimento" />
    </div>
    <div class="input-container">
      <label for="">CEP</label>
      <input type="text" placeholder="informe seu cep" />
    </div>

    <div class="input-container">
      <label for="">Endereço</label>
      <input type="text" placeholder="Informe seu endereço" />
    </div>
  </div>
  <!-- <div class="second-row">
    <div class="input-container">
      <label for="">Data de nascimento</label>
      <input type="date" placeholder="Data de nascimento" />
    </div>
    <div class="input-container">
      <label for="">Endereço</label>
      <input type="text" placeholder="Informe seu endereço" />
    </div>
  </div> -->
</form>
