<form [formGroup]="clientForm" (submit)="emitSubmit(clientForm.value)">
  <div class="first-row">
    <div class="input-container">
      <label for="">Nome</label>
      <input
        formControlName="name"
        type="text"
        placeholder="Informe seu nome"
      />
    </div>
    <div class="input-container">
      <label for="">CPF</label>
      <input
        [textMask]="{ mask: cpfMask }"
        type="text"
        formControlName="cpf"
        placeholder="informe seu cpf"
      />
    </div>
    <div class="input-container">
      <label for="">Telefone</label>
      <input
        [textMask]="{ mask: telefoneMask }"
        formControlName="phone"
        type="text"
        placeholder="informe seu telefone"
      />
    </div>
    <div class="input-container">
      <label for="">Data de nascimento</label>
      <input
        formControlName="birth"
        type="date"
        placeholder="Data de nascimento"
      />
    </div>
    <div class="input-container">
      <label for="">CEP</label>
      <input
        [textMask]="{ mask: cepMask }"
        formControlName="cep"
        type="text"
        placeholder="informe seu cep"
      />
    </div>

    <div class="input-container">
      <label for="">Endereço</label>
      <input
        formControlName="address"
        type="text"
        placeholder="Informe seu endereço"
      />
    </div>

    <div class="input-container">
      <label for="">Marca</label>
      <select formControlName="brand">
        <option>
          Selecao
        </option>
      </select>
    </div>
    <div class="input-container">
      <label for="">Modelo</label>
      <select formControlName="model">
        <option>
          Selecao
        </option>
      </select>
    </div>
    <div style="opacity: 0;" class="input-container">
      <label for=""></label>
      <!-- <select></select> -->
      <div style="width: 25vw;"></div>
    </div>
  </div>

  <app-feedback
    *ngIf="clientForm.invalid && clientForm.touched"
    [message]="'Campos são obrigatórios'"
    class="warning"
  ></app-feedback>
  <button [hidden]="true" type="submit"></button>
</form>
