/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9fa;
}

.mat-toolbar-row {
  background: white !important;
}
